@import "./_cauldron_vars.css";
:root {
  --breakpoint-small: 30rem;
  --breakpoint-medium: 48rem;
  --breakpoint-large: 64rem;
  --breakpoint-xlarge: 75rem;
}
html,body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color-base);
  background-color: var(--dark-workspace-color);
}
h1,h2,h3,h4,h5,h6 {
  display: block;
  width: 100%;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

button,a {
  cursor: pointer;
}

/*Screen Reader Only Class*/
.sr-only,.Offscreen {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  margin-top: -1px;
}

*:focus {
  outline: 2px solid var(--focus);
  outline-offset: var(--space-quarter);
}
